$headerHeight: 9.2rem;

$clr-white: #fff;
$clr-black: #000;
$clr-main--dark: #5c52a7;

$clr-main--1: hsl(247, 34%, 65%);
$clr-main--2: hsl(241, 24%, 75%);
$clr-main--3: hsl(265, 15%, 90%);

$clr-accent: rgb(233, 213, 202);

$clr-light-grey--1: rgb(204, 204, 204);
$clr-light-grey--2: rgb(214, 214, 214);
$clr-light-grey--3: rgb(224, 224, 224);
$clr-light-grey--4: rgb(234, 234, 234);

$clr-light-dark--1: #111;
$clr-light-dark--2: #222;
$clr-light-dark--3: #333;
$clr-light-dark--4: #444;
